body{

    background-color: rgb(196, 255, 206);
}



.NEYMAR{

border: 10px;
border: solid;
border-color:brown;

}
.HEXA{
border: 10px;
border: solid;
border-color: aqua;

}
.COPA{
 border: 10px;
 border: solid;
 border-color: rgb(255, 0, 234);

}
